<% @events.each do |event| %>
<hr>
<div class="event">
  <div class="date_text"><%= event.datetime%></div>
  <p>
    <%= event.name %>は<%= event.date_str%>にあります
  </p>
  <div class="Timer">
    <p><span class="name"><%= event.name %></span>まで</p>
    <div class="TimeLeft"></div>
  </div>
</div>
<% end %>
